// 字体
$font-sans: "Helvetica","Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
$font-size: 14px !default; // 默认字体大小

// 默认路径
$img-base-path: '~@/assets/'; // 默认图片路径

// 主题颜色
$theme-color: #B13540;

//混入样式
@import "./mixin";

